/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Container Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    
    margin: 20px;
    width: 80%;
    margin: 0 auto;
}

/* Header Section */
header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

/* Main Content */
main {
    padding: 20px 0;
}

.hero {
    background-image: url(./assets/background.jpg);
    background-position:center;
    background-size:cover;
    text-align: center;
    background-color: #1002d8;
    color: white;
    padding: 50px 20px;
    border-radius: 8px;
    margin-bottom: 40px;
}

.hero h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.btn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #025aa5;
}

/* Feature Section */
.features {
    display: flex;
    justify-content: space-between;
}

.feature {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
}

.h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.feature p {
    font-size: 1rem;
}

/* Footer Section */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

/* Course List Section */
.course-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.course {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.course h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.course p {
    font-size: 1rem;
    margin-bottom: 20px;
}
@media only screen and (max-width:800px){
    
    header {
        background-color: #333;
        color: white;
        padding: 10px 0;
        text-align: center;
    }
    
    header h1 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    
    nav ul {
        list-style: none;
        padding: 0;
    }
    
    nav ul li {
        display: inline;
        margin: 0 10px;
    }
    
    nav ul li a {
        color: white;
        text-decoration: none;
        font-size: 1rem;
    }

    }

